################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.Net-BackEnd/FileContentIndex
/Assignments/.vs/Assignments/FileContentIndex
/Assignments/.vs/Assignments/DesignTimeBuild
/Assignments/bin/Debug/net6.0
/Assignments/obj
/Assignments/.vs/Assignments/v17
/API_Calculator/obj
/Assignment_2
/Calc
/Calculate/obj/Debug/net6.0
/Calculator
/ClassLibrary1/obj
/EF_Assignment/.vs/EF_Assignment/FileContentIndex
/MinimulAPI/.vs/MinimulAPI
/WebApplicationFrameWork/.vs
/WEB_API_App1/.vs/WEB_API_App1/FileContentIndex
