################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.Net-BackEnd/FileContentIndex
/Assignments/.vs/Assignments
/Assignments/bin/Debug/net6.0
/Assignments/obj/Debug/net6.0
/Assignments/obj
/Assignment_2/.vs/Assignment_2
/Assignment_2/bin/Debug/net6.0
/Assignment_2/obj
/API_Calculator/obj
/Calculate/obj/Debug/net6.0
/Calculator
/WEB_API_App1/.vs/WEB_API_App1/FileContentIndex
